# Miscellaneous
*.class
*.log
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Python
__pycache__/
*.pyc
*.pyo
.env
.env.*
*.env
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
lib/
android/
ios/
build/
.dart_tool/
.packages
pubspec.yaml
pubspec.lock
.flutter-plugins
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

dart_defines.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

android/key.properties
android/*.jks

# Google Cloud credentials
service_account.json
*-credentials.json
*.json